.leaflet-container { font-size: inherit; }
.legend {
	line-height: 1em;
	color: #555;
	padding: 0.75em;
}
.legend li {
	margin-bottom: 0.5em;
}
.legend li:last-child {
	margin-bottom: 0px;
}
.legend span {
	width: 1em;
	height: 1em;
	float: left;
	margin-right: 0.5em;
	opacity: 0.7;
}
.centre-block {
	z-index: 3;
	top: 50%;
	left: 50%;
	width: 50%;
	transform: translate3d(-50%,-50%, 0);
	position: absolute;
	text-align: center;
	margin-right: -50%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.centre-block p, .centre-block blockquote {
	text-align: left;
}
#infobutton {
	float: right;
	display: none;
	width: 1.5em;
	line-height: 1.5em;
	cursor: pointer;
	text-align: center;
	font-size: 1em;
	border-radius: 100%;
	background-color: white;
	color: #722EA5;
}
blockquote {
	min-height: auto!important;
	background: white;
	padding: 1em 3em;
	margin-bottom: 1em;
	position: relative;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	content: open-quote;
	left: 0.25em;
}
blockquote:after {
	content: close-quote;
	right: 0.25em;
}
blockquote:before, blockquote:after {
	color: #ccc;
	position: absolute;
	top: 0.6em;
	line-height: 0.1em;
	font-size: 4em;
}
blockquote footer {
	padding: 1em 0 0 0;
}
blockquote cite:before {
	content: "-- ";
}
blockquote:last-child {
	margin-bottom: 0;
}
.c1-bg, .elsewhere .facebook:hover, .c1-bg-hover:hover { background-color: #2254F4; color: white; }
.c2-bg, .c2-bg-hover:hover { background-color: #178CFF; color: black; }
.c3-bg, .elsewhere .twitter:hover, .c3-bg-hover:hover { background-color: #00B6FF; color: black; }
.c4-bg, .c4-bg-hover:hover { background-color: #08DEF9; color: black; }
.c5-bg, .c5-bg-hover:hover { background-color: #1DD3A7; color: black; }
.c6-bg, .c6-bg-hover:hover { background-color: #0DBC37; color: black; }
.c7-bg, .c7-bg-hover:hover, .seasonal-accent { background-color: #67E767; color: black; }
.c8-bg, .c8-bg-hover:hover { background-color: #722EA5; color: white; }
.c9-bg, .c9-bg-hover:hover { background-color: #E6007C; color: white; }
.c10-bg, .c10-bg-hover:hover, .flickr:hover, .seasonal { background-color: #EF3AAB; color: black; }
.c11-bg, .c11-bg-hover:hover { background-color: #D73058; color: white; }
.c12-bg, .c12-bg-hover:hover { background-color: #D60303; color: white; }
.c13-bg, .c13-bg-hover:hover { background-color: #FF6700; color: black; }
.c14-bg, .c14-bg-hover:hover { background-color: #F9BC26; color: black; }
.s1-bg, .s1-bg-hover:hover { background-color: #2f529f; color: white; }
.s2-bg, .s2-bg-hover:hover { background-color: #00ace8; color: black; }
.s3-bg, .s3-bg-hover:hover { background-color: #7dc5ea; color: black; }
.b1-bg { background-color: #000000; color: white; }
.b2-bg { background-color: #333333; color: white; }
.b3-bg, .github:hover { background-color: #999999; color: black; }
.b4-bg { background-color: #bbbbbb; color: black; }
.b5-bg { background-color: #dfdfdf; color: black; }
.b6-bg { background-color: #ffffff; color: black; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; }
.c1-bg .button, .c2-bg .button, .c3-bg .button, .c4-bg .button, .c5-bg .button, .c6-bg .button, .c7-bg .button, .c8-bg .button, .c9-bg .button, .c10-bg .button, .c11-bg .button, .c12-bg .button, .c13-bg .button, .c14-bg .button { background-color: #efefef; color: black!important; }
button:hover, a.button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }
.c8-bg a { color: inherit; }












#hexmap {
	margin: auto;
	max-width: 100%;
	position: relative;
}
.infobubble {
    z-index: 3;
    top: 1em;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    position: fixed;
    text-align: center;
    margin-right: -50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    background-color: white;
    padding: 0.5em 1em;
}
#key { text-align: center; }
