section { margin-top: 3em; border-top: 1px solid #ddd; padding-top: 3em; }
section h2 { margin-top: 0em!important; }
select { max-width: 100%; }
.row { margin-bottom: 1em; }
.button { display: block; border: 0px; width: 100%; text-align: left; padding: 1em!important; cursor: pointer; }
.notinteractive { background: #dedede; cursor: default; }
.number { font-size: 2em; font-weight: 300; }
input, select { font-size: 1em; line-height: 3em; padding: 0.25em 0.5em; }
input { line-height: 1em; }
ul.grid > li { position: relative; }
ul.grid > li > div { padding: 0; height: auto; }
input[type=checkbox],input[type=radio] { position: absolute; z-index: 0; top: 0; left: 0; margin: 0; width: 100%; height: 100%; opacity: 0.01; cursor: pointer; }
#pages { width: 500px; }
#graph { width: 100%; height: 300px; margin: 2em 0 6em 0; position: relative; }
#graph svg path.line { stroke-width:4; fill:none; stroke-linecap:round; }
#graph .x-labels { height: 2em; }
#graph .label { white-space:nowrap; border-left: 1px solid #999; padding:0.25em; line-height:1em; position:absolute; }
.view, #view:checked + label { background: #1DD3A7!important; color: black; stroke: #1DD3A7; fill: #1DD3A7; }
.click, #click:checked + label { background: #E6007C!important; color: white; stroke: #E6007C; stroke-width:4; fill: #E6007C; }
.play, #play:checked + label { background: #00B6FF!important; color: white; stroke: #00B6FF; stroke-width:4; fill: #00B6FF; }
input.referrer:checked + label { background: #722EA5!important; color: white; }
input.screen:checked + label { background: #F9BC26!important; color: black; }
.screen { background: #F9BC26!important; margin: auto; margin-bottom: 0.5em; background-image: url('https://odileeds.org/resources/images/odileeds-13.svg')!important; background-size: 100px!important; background-repeat: no-repeat !important; background-position: center center !important; }
input[type=checkbox]:focus + label.button, input[type=checkbox]:hover + label.button { outline: 2px solid #E6007C; }
circle { stroke-width: 0; transition: transform 0.3s linear; }
circle:hover { stroke-width: 5; }
svg .hidden { display: none; }
#tooltip { background: black; color: white; padding: 0.25em 0.5em; margin-top: -1em; transition: left 0.1s linear, top 0.1s linear; border-radius: 4px; white-space: nowrap; }
#tooltip::after {
	content: '';
	position: absolute;
	bottom: auto;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	left: 50%;
	top: 100%;
	transform: translate3d(-50%,0,0);
	border-color: transparent;
	border-top-color: black;
}
#tooltip.view::after { border-top-color: #1DD3A7; }
#tooltip.click::after { border-top-color: #E6007C; }
#tooltip.play::after { border-top-color: #00B6FF; }
.breakdown table { border-collapse: collapse; width: 100%; max-width:100%!important; table-layout:fixed; }
.breakdown table th { background-color: #999; color: white; }
.breakdown table td, .breakdown table th { border: 1px solid #999; border-bottom-width: 0px; padding: 0.25em 0.5em; }
.breakdown table tr:first-child th:first-child { width: 80%; }
.breakdown table tr:last-child td { border-bottom-width: 1px!important; }
.breakdown table tr td:last-child { text-align:center; }
table.referrers tr.sub td { border-top: 0px; }
table.referrers tr.sub td:first-child { padding-left: 2em; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; }
table.referrers tr.sub:hover td { background: #efefef; }
table.referrers .group td:first-child { padding: 0; }
table.referrers .group a { text-decoration: none; display:block; width: 100%; color: inherit; padding: 0.25em 0.5em; }
table.referrers .group a::after { content: " - toggle breakdown"; color: #999; font-weight: 400; }
table.referrers .group a:hover, table.referrers .group a:focus { background: #ddd; cursor: pointer; }
ul.grid.buttons { grid-template-columns: repeat(3, minmax(0, 1fr)); grid-gap: 2px!important; }
ul.grid.buttons.two-col { grid-template-columns: repeat(2, minmax(0, 1fr))!important; }
ul.grid.buttons.one-col { grid-template-columns: 100%!important; }
ul.grid.buttons.sizes { grid-template-columns: repeat(4, minmax(0, 1fr))!important; }
ul.grid.buttons.sizes li { background: #dedede; padding: 1em; text-align: center; }
@media only screen and (max-width: 640px) {
	ul.grid.buttons.sizes { grid-template-columns: repeat(2, minmax(0, 1fr))!important; }
}

/* Set date range styles */
.date-range { width: 230px; border: 1px solid #999; background-image: url('calendar.svg'); background-position: right 0.25em center; background-repeat: no-repeat; background-size: 1em; }
.date-range-calendar { position: absolute; border: 1px solid rgba(0, 0, 0, 0.1); z-index:1000; border-radius: 4px; background: white; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1); padding: 16px 16px 20px; }
.date-range-calendar .nav { position: absolute; right: 1em; top: 1em; white-space: nowrap; }
.date-range-calendar .layout { display: grid; grid-template-columns: 1fr 150px; grid-gap: 1em; }
.date-range-calendar .range-selector button { padding: 0.5em; font-size: 1em; width: 100%; text-align: left; background: #ddd; border:0px; }
.date-range-calendar .range-selector button:hover, .date-range-calendar .range-selector button:focus { background: rgba(229,10,129,1)!important; color: white!important; }
.date-range-calendar h3 { font-size: 1.25em; margin-top: 0px; line-height: 1.6em; }
.date-range-calendar table { width: 100%; }
.date-range-calendar table th, .date-range-calendar table td, .date-range-calendar table .num { all: revert; padding: 0; }
.date-range-calendar button { all: revert; display: inline-block; background: transparent; font-size: 1em; text-align: center; color: #333; cursor: pointer; }
.date-range-calendar button:hover,.date-range-calendar button:focus { background: rgba(229, 10, 129,0.1); outline: none; box-shadow: none; }
.date-range-calendar button.now { border: 1px solid rgba(229, 10, 129,0.7); color: #333; }
.date-range-calendar button.unavailable { color: #999; }
.date-range-calendar button[disabled] { color: #999; cursor: normal; background: transparent!important; }
.date-range-calendar button.range { border-radius: 0%; background: rgba(229, 10, 129,0.1); }
.date-range-calendar button.range-start { border-radius: 100% 0% 0 100%!important; background: rgba(229,10,129,1)!important; color: white!important; }
.date-range-calendar button.range-end { border-radius: 0 100% 100% 0!important; background: rgba(229,10,129,1)!important; color: white!important; }
.date-range-calendar button.range-start.range-end { border-radius: 100%!important; }
.date-range-calendar .circle {border-radius: 100%; border: 1px solid transparent; width:2em; height: 2em; }
.date-range-calendar .circle:focus { border: 1px solid rgb(229,10,129); }
@media only screen and (max-width: 640px){
	.date-range, #pages { width: 100%; }
	.date-range-calendar { position: relative; left:0!important; display: inline-block; }
	.date-range-calendar .layout { grid-template-columns: 1fr; }
	.date-range-calendar table, .date-range-calendar .range-selector { width: 220px; }
}